<div class="flex flex-col gap-1">
  <!-- TITLE -->

  <h2 class="text-xl font-bold">
    {{ currentPageTitle() | translate }}
  </h2>

  <!-- BREADCRUMB -->

  <nav class="flex flex-wrap items-center gap-1 text-sm">
    @for (crumb of breadcrumbs(); track $index; let last = $last) {
      @if (!last) {
        <a
          [routerLink]="crumb.url"
          class="transition hover:text-[#071437] dark:hover:text-[#ffffff] hover:underline"
        >
          {{ crumb.label | translate }}
        </a>

        <span class=""> / </span>
      } @else {
        <span class="font-medium">
          {{ crumb.label | translate }}
        </span>
      }
    }
  </nav>
</div>
