<button
  [attr.type]="type()"
  class="btn-ripple cursor-pointer mb-3.5 w-full hover-lift inline-flex justify-center items-center gap-1 text-sm font-semibold rounded-xl px-4 py-2.5 card-shadow transition-all duration-200 disabled:opacity-50 disabled:cursor-not-allowed {{loading()? 'opacity-70 cursor-progress' : ''}} {{computeClasses()}}"
  [disabled]="disabled()"
>

  @if (!loading() && icon() && iconPosition() === 'start') {
  <span    [innerHTML]="appService.getIcon(icon())"    [style]="iconStyle()
          ? 'margin-inline-end: 8px' +
              iconStyle()
          : 'margin-inline-end: 8px'"
          [class]="iconClass()"> </span>
  }

  <span class="{{labelClass()}} {{loading() ? 'animate-pulse' :''}}" >
    @if(loading()){
      @if(loadingText()){
        {{loadingText() | translate}}
      }@else {
        <i class='fa-solid fa-spinner animate-spin'></i>
      }
    }@else {
      {{label() | translate}}
    } </span>

  @if (!loading() && icon() && iconPosition() === 'end') {
      <span  [innerHTML]="appService.getIcon(icon())"   [style]="iconStyle()
          ? 'margin-inline-start: 8px' +
              iconStyle()
          : 'margin-inline-start: 8px'"
          [class]="iconClass()"> </span>

  }
</button>
